<a href="https://colab.research.google.com/github/miguelsanchezrivas/2023-01-10clase1/blob/main/2023_01_10_mineria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2023-01-10 Class 1: inputs and outputs

In [ ]:
import math

In [ ]:
math.sin(90)

0.8939966636005579

In [ ]:
math.cos(90)

-0.4480736161291701

In [ ]:
In

['',
 'print ("clase 2")',
 'print ("clase 1")',
 'print ("clase 1")',
 'import math',
 'import math',
 "get_ipython().run_line_magic('pip', 'install math')",
 "get_ipython().run_line_magic('pip', 'install pandas')",
 'math.sin(90)',
 'math.sin(91)',
 'math.sin(90)',
 'math.sin(90)',
 'math.cos(90)',
 'In',
 'in',
 'In']

In [ ]:
Out

{8: 0.8939966636005579,
 9: 0.10598751175115685,
 10: 0.8939966636005579,
 11: 0.8939966636005579,
 12: -0.4480736161291701,
 13: ['',
  'print ("clase 2")',
  'print ("clase 1")',
  'print ("clase 1")',
  'import math',
  'import math',
  "get_ipython().run_line_magic('pip', 'install math')",
  "get_ipython().run_line_magic('pip', 'install pandas')",
  'math.sin(90)',
  'math.sin(91)',
  'math.sin(90)',
  'math.sin(90)',
  'math.cos(90)',
  'In',
  'in',
  'In',
  'Out'],
 15: ['',
  'print ("clase 2")',
  'print ("clase 1")',
  'print ("clase 1")',
  'import math',
  'import math',
  "get_ipython().run_line_magic('pip', 'install math')",
  "get_ipython().run_line_magic('pip', 'install pandas')",
  'math.sin(90)',
  'math.sin(91)',
  'math.sin(90)',
  'math.sin(90)',
  'math.cos(90)',
  'In',
  'in',
  'In',
  'Out']}

In [ ]:
%history

print ("clase 2")
print ("clase 1")
print ("clase 1")
import math
import math
pip install math
pip install pandas
math.sin(90)
math.sin(91)
math.sin(90)
math.sin(90)
math.cos(90)
In
in
In
Out
%history

In [ ]:
Out[11]**2 + Out[12]**2

1.0

In [ ]:
_

1.0

In [ ]:
a = 1
a

1

In [ ]:
b = 2
b

2

In [ ]:
c = 3.1
c

3.1

In [ ]:
print("hola")

hola

In [ ]:
_

3

## Data types

In [ ]:
type(4)

int

In [ ]:
import numpy as np
a = np.array([0,1,2,3,4,5,6,7,8,9,10]) 
type(a)

numpy.ndarray

In [ ]:
a = ["Tennis", "apple", 2, 2/3, None, math.pi, 2.3]
b = ("Tennis", "apple", 2, 2/3, None, math.pi, 2.3)

In [ ]:
type(a)
type(b)

tuple

In [ ]:
a
b

('Tennis', 'apple', 2, 0.6666666666666666, None, 3.141592653589793, 2.3)

In [ ]:
type(None)

NoneType

In [ ]:
print(math.pi) 
type(math.pi)

3.141592653589793

float

In [ ]:
math.pi
type(math.pi)

float

In [ ]:
a[0]

'Tennis'

In [ ]:
a[0] = "Orange"

In [ ]:
a[0]

'Orange'

In [ ]:
a[:3]

['Tennis', 'apple', 2]

In [ ]:
a[-3:]

[None, 3.141592653589793, 2.3]

\6*10^(-1)*italicized text*

In [ ]:
6*10^(-1)

-61

In [ ]:
x = 1
y = 2
z = 3
print("escribir {} y luego {} y depues {}".format(x,z,y))

escribir 1 y luego 3 y depues 2


## MSR: notas de clase 1:
•	mi perfil en github, para subir tareas, etc.: https://github.com/miguelsanchezrivas 

•	5 puntos para intercambiar: https://cognitiveclass.ai/courses/python-for-data-science

•	Otros 5 puntos para reemplazar: 12 horas de evidencia en https://www.typing.com/ 

•	3a Edición: https://wesmckinney.com/book/python-builtin.html#set

#https://courses.cognitiveclass.ai/courses/course-v1:CognitiveClass+PY0101EN+v3/courseware/407a9f86565c44189740699636b4fb85/5f1484382669496ca959b429a604b490/

##Module 1 - Python Basics

In [ ]:
#Review Question 1
#What is the result of the following operation in Python:
#3 + 2 * 2
#10
#7 <-- CORRECT
#9
#12

3 + 2 * 2

7

In [ ]:
# Review Question 2
# 1/1 point (graded)
# In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?
# Lizz
# L
# Liz
# Li <-- CORRECT
name = 'Lizz'
print(name[0:2])

Li

In [ ]:
# Review Question 3
# 1/1 point (graded)
# In Python, if you executed var = '01234567', what would be the result of print(var[::2])?
# 0246 <-- CORRECT
# 1357
# 1234567
# 8903

var = '01234567'
print(var[::2])

0246

In [ ]:
# Review Question 4
# 1/1 point (graded)
# In Python, what is the result of the following operation '1'+'2'?
# '2'
# '3'
# '12' <-- CORRECT

'1'+'2'

'12'

In [ ]:
# Review Question 5
# 1/1 point (graded)
# Given myvar = 'hello', how would you convert myvar into uppercase?
# len(myvar)
# myvar.find('hello')
# myvar.upper()
# myvar.sum()

myvar = 'hello'
myvar.upper()

'HELLO'

##Module 2 - Python Data Structures

In [ ]:
#What is the syntax used to obtain the first element of the tuple:

A = ('a','b','c')


#A[1]
A[0]
#A[:]

'a'

In [ ]:
# After applying the following method, L.append(['a','b']), the following list will only be one element longer.
# True <-- CORRECTO: ['a','b'] se considera 1 solo elemento
# False

L = ['a','b']
L.append(['a','b'])
L
len(L)

3

In [ ]:
# How many duplicate elements can you have in a set?
# 1
# 0. You can only have one unique element in a set. <-- CORRECTO
# 100
# Depends on the number of elements in your set.

In [ ]:
#Consider the following Python dictionary:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
#What is the result of the following operation: 
Dict["D"] 
# 4
# 3
# [3,3,3]
# (4, 4, 4) <-- CORRECTO
# 100
# Error

(4, 4, 4)

In [ ]:
# What is an important difference between lists and tuples?
# Lists can't contain a string.
# Tuples can only have integers.
# Lists and tuples are the same.
# Lists are mutable, tuples are not. <-- CORRECTO
# There are no zeros in lists.

##Module 3 - Python Programming Fundamentals

In [ ]:
#What is the output of the following lines of code:

x=1

if(x!=1):
  print('Hello')
else:
  print('Hi')
print('Mike')

Hi
Mike

In [ ]:
#What is the output of the following few lines of code?

A = ['1','2','3']
for a in A:
  print(2*a)

11
22
33

In [ ]:
#Consider the function Delta, when will the function return a value of 1

def Delta(x):
  if x==0:
    y=1;
  else:
    y=0;
  return(y)


x = 0
Delta(x)

1

In [ ]:
#What is the correct way to sort the list 'B' using a method? The result should not return a new list, just change the list 'B'.
# B.sort()
# sort(B)
# sorted(B)
# B.sorted()

B = [1, 9, 5, 3, 8, 2]
B.sort()
B

[1, 2, 3, 5, 8, 9]

In [ ]:
# What are the keys of the following dictionary: {'a':1,'b':2}?
# 1,2
# ;,:
# a,b  <-- CORRECTO

##Module 4 - Working with Data in Python

In [ ]:
# What do the following lines of code do?

# with open("Example1.txt","r") as file1:
  # FileContent=file1.readlines()
  # print(FileContent)


# Read the file "Example1.txt".  <-- CORRECTO
# Write to the file “Example1.txt".
# Append the file "Example1.txt".

In [ ]:
# What do the following lines of code do?

# with open("Example2.txt","w") as writefile:
  # writefile.write("This is line A\n")
  # writefile.write("This is line B\n")


# Read the file "Example2.txt".
# Write to the file "Example2.txt". <-- CORRECTO
# Append the file "Example2.txt".

In [ ]:
# What do the following lines of code do?

# with open("Example3.txt","a") as file1:
#   file1.write("This is line C\n")


# Read the file "Example3.txt".
# Write to the file "Example3.txt".
# Append the file "Example3.txt". <-- CORRECTO

In [ ]:
# What is the result of applying the following method df.head() to the dataframe "df"?
# Prints the first row of the dataframe.
# Prints the first column of the dataframe.
# Prints the first 5 rows of the dataframe. <-- CORRECTO
# Prints out the entire dataframe.

##Module 5 - Working with Numpy Arrays & Simple APIs

In [ ]:
#What is the result of the following lines of code:
import numpy as np 
a=np.array([0,1,0,1,0])

b=np.array([1,0,1,0,1])

a*b

array([0, 0, 0, 0, 0])

In [ ]:
#What is the result of the following lines of code:

a=np.array([0,1])

b=np.array([1,0])

np.dot(a,b)

0

In [ ]:
#What is the result of the following lines of code:

a=np.array([1,1,1,1,1])

a+10

array([11, 11, 11, 11, 11])

In [ ]:
#What is the correct code to perform matrix multiplication on the matrix A and B?
#np.dot(A,B)
#A*B
#AxB

A = (2, 3, 6)
B = (3, 6, 9)
np.dot(A,B)

78

![image.png]()

## Final exam

In [ ]:
#Consider the string Name="Michael Jackson" , what is the result of the following operation Name.find('el')

Name="Michael Jackson" 
Name.find('el')

5

In [ ]:
 tuple1=("A","B","C" )
 tuple1[-1]

'C'

In [ ]:
A=((11,12),[21,22])
A[1]

[21, 22]

In [ ]:
A=((11,12),[21,22])
A[0][1]

12

In [ ]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [ ]:
How do you cast the list 'A' to the set 'a'?
a.set()
a=A.append()
a=A.dict()
a=set(A)

In [ ]:
V={'A','B'}
V.add('C')
V

{'A', 'B', 'C'}

In [ ]:
V={'A','B','C' }
V.add('C')
V

{'A', 'B', 'C'}

In [ ]:
x="Go"

if(x!="Go"):
  print('Stop')
else:
  print('Go ')

print('Mike')

Go
Mike

In [ ]:
x="Go"

if(x=="Go"):
  print('Go ')
else:
  print('Stop')

print('Mike')

Go
Mike

In [ ]:
# how many iterations are performed in the following loop?

# for n in range(3):

# print(n)


# 1
# 2
# 3

for n in range(3):
  print(n)

0
1
2

In [ ]:
for n in range(3):
  print(n+1)

1
2
3

In [ ]:
A=['1','2','3']

for a in A:
  print(2*a)

11
22
33

In [ ]:
# Consider the function add, what is the result of calling the following Add('1','1') (look closely at the return statement )

# def Add(x,y):

# z=y+x

# return(y)


# error
# '2'
# '11'
# '1'

def Add(x,y):
  z=y+x
  return(y)


Add('1','1')

'1'

In [ ]:
class Points(object):
  def __init__(self,x,y):
    self.x=x
    self.y=y
  def print_point(self):
    print('x=',self.x,'y=',self.y)

# Consider the class Points, what are the data attributes:
# __init__
# self.x self.y   <-- CORRECTO
# print_point

In [ ]:
class Points(object):
  def __init__(self,x,y):
    self.x=x
    self.y=y
  def print_point(self):
    print('x=',self.x,' y=',self.y)

p1=Points(1,2)
p1.print_point()


# What is the result of running the following lines of code ?
# x=1
# y=2
# x=1 y=2

x= 1  y= 2

In [ ]:
#What is the result of running the following lines of code ?

class Points(object):
  def __init__(self,x,y):
    self.x=x
    self.y=y
  def print_point(self):
    print('x=',self.x,' y=',self.y)

p2=Points(1,2)
p2.x=2
p2.print_point()


# x=1
# y=2
# x=1 y=2
# x=2 y=2

x= 2  y= 2

## Dudas del curso

In [ ]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [ ]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

In [ ]:
>>> first = ["a", "b", "c"]
>>> second = ["d", "e", "f"]
>>> third = ["g", "h", "i"]
>>> for one, two, three in zip(first, second, third):
...     print(one, two, three)

>>> for count, (one, two, three) in enumerate(zip(first, second, third)):
...     print(count, one, two, three)

a d g
b e h
c f i
0 a d g
1 b e h
2 c f i

In [ ]:
for i in range(-4, 5):
    print(i)

-4
-3
-2
-1
0
1
2
3
4

# 2023-01-17 Class 2: 
#### ver los archivos del 20 al 23 de: https://github.com/Egade/ClassNotes

In [ ]:
path = "https://raw.githubusercontent.com/tec03/Datasets/main/datasets/Cartwheeldata.csv"

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv(path)
df
type(df)

pandas.core.frame.DataFrame

In [ ]:
# Loop through the list and iterate on both index and element value

#squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(df["Gender"]):
    print(i, square)

0 F
1 F
2 F
3 F
4 M
5 M
6 M
7 F
8 M
9 F
10 M
11 F
12 F
13 F
14 M
15 M
16 F
17 M
18 M
19 F
20 M
21 M
22 M
23 M
24 F

ValueError: ignored

In [ ]:
df.shape

(25, 12)

In [ ]:
df.head()
df.tail()
df.describe()

,ID,Age,GenderGroup,GlassesGroup,Height,Wingspan,CWDistance,CompleteGroup,Score
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.00000,25.000000
mean,13.000000,28.240000,1.520000,0.560000,67.650000,66.260000,82.480000,0.76000,6.120000
std,7.359801,6.989754,0.509902,0.506623,4.431187,5.492647,15.058552,0.43589,2.833137
min,1.000000,22.000000,1.000000,0.000000,61.500000,57.500000,63.000000,0.00000,0.000000
25%,7.000000,24.000000,1.000000,0.000000,64.000000,62.000000,70.000000,1.00000,4.000000
50%,13.000000,26.000000,2.000000,1.000000,68.000000,66.000000,81.000000,1.00000,6.000000
75%,19.000000,29.000000,2.000000,1.000000,71.000000,71.000000,92.000000,1.00000,8.000000
max,25.000000,56.000000,2.000000,1.000000,75.000000,76.000000,115.000000,1.00000,10.000000

In [ ]:
#pandas.core.series.Series 
x = df.Age
type(x)

pandas.core.series.Series

In [ ]:
#pandas.core.series.Series (vs DataFrame)
y = df["Age"]
type(y)

pandas.core.series.Series

In [ ]:
#pandas.core.frame.DataFrame
z = df[["Age"]]
type(z)

pandas.core.frame.DataFrame

In [ ]:
df[["Age", "Wingspan"]]             #esto va a mostrar las dos columnas completas
df[["Age", "Wingspan"]].head()      #esto va a mostrar...
df[["Age", "Wingspan"]].describe()  #esto va a mostrar las estadisticas de las dos columnas

             Age   Wingspan
count  25.000000  25.000000
mean   28.240000  66.260000
std     6.989754   5.492647
min    22.000000  57.500000
25%    24.000000  62.000000
50%    26.000000  66.000000
75%    29.000000  71.000000
max    56.000000  76.000000

In [ ]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [ ]:
# df.iloc[:, -4:]   # <-- CORRECTO 
# df.iloc[:, [-4:]] #SyntaxError: invalid syntax
# df.loc[:, -4:]  #SyntaxError: invalid syntax
df.iloc[:, 8:] # <-- CORRECTO

    CWDistance Complete  CompleteGroup  Score
0           79        Y              1      7
1           70        Y              1      8
2           85        Y              1      0
3           87        Y              1     10
4           72        N              0      4
5           81        N              0      3
6          107        Y              1     10
7           98        Y              1      9
8          106        N              0      5
9           65        Y              1      8
10          96        Y              1      6
11          79        Y              1     10
12          92        Y              1      6
13          66        Y              1      4
14          72        Y              1      9
15         115        Y              1      6
16          90        N              0     10
17          74        Y              1      5
18          64        Y              1      3
19          85        Y              1      8
20          66        N              0      2
21         101        Y              1      8
22          82        Y              1      4
23          63        Y              1      5
24          67        N              0      3

In [ ]:
favs = ['Age', 'Gender', 'Glasses', 'CWDistance', 'Complete', 'Score']

In [ ]:
ndf = df[favs]
ndf.head()

   Age Gender Glasses  CWDistance Complete  Score
0   56      F       Y          79        Y      7
1   26      F       Y          70        Y      8
2   33      F       Y          85        Y      0
3   39      F       N          87        Y     10
4   27      M       N          72        N      4

loc & iloc

In [ ]:
ndf.iloc[4, :]    # esto es lo mismo, pero lo imprime como columna
ndf.iloc[4:5, :]  # lo mismo que lo anterior, pero lo imprime como fila

   Age Gender Glasses  CWDistance Complete  Score
4   27      M       N          72        N      4

In [ ]:
ndf.loc[4:5, :]  # lo mismo que lo anterior, pero lo imprime como fila

   Age Gender Glasses  CWDistance Complete  Score
4   27      M       N          72        N      4
5   24      M       N          81        N      3

In [ ]:
ndf.loc[14:16, "Gender" : :2]

   Gender  CWDistance  Score
14      M          72      9
15      M         115      6
16      F          90     10

los siguientes dos iloc hacen lo mismo

In [ ]:
ndf.iloc[14:17, 1::2]         #lo mismo que el siguiente, pero brincando de 2 en 2

   Gender  CWDistance  Score
14      M          72      9
15      M         115      6
16      F          90     10

In [ ]:
ndf.iloc[14:17, [1, 3, 5]]    #lo mismo que lo anterior, pero sin brincarse de 2 en 2

   Gender  CWDistance  Score
14      M          72      9
15      M         115      6
16      F          90     10

cuantos tipos diferentes de "Gender" existen en esa columna

In [ ]:
df.Gender.unique()

array(['F', 'M'], dtype=object)

In [ ]:
df.Gender.unique().size

2

pivots

In [ ]:
df[["Gender", "Glasses"]].value_counts()

Gender  Glasses
F       Y          8
M       N          7
        Y          6
F       N          4
dtype: int64

In [ ]:
df.groupby(["Gender", "Glasses"]).size()

Gender  Glasses
F       N          4
        Y          8
M       N          7
        Y          6
dtype: int64

ejercicio de Canada.xlsx

wrangling

In [ ]:
path = "/content/drive/MyDrive/mineria/Canada.xlsx"
Can_df = pd.read_excel(path, 
                       sheet_name = "Canada by Citizenship",
                       skiprows = range (20),
                       skipfooter = 2)
Can_df

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407

In [ ]:
Can_df.columns

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')

In [ ]:
Can_df.drop(["Type", "Coverage", "AREA", "REG"],
          axis = 1, #para realizar el cambio en las columnas
          inplace = True #para realizar el cambio en el dataframe
          )
Can_df.head()

KeyError: ignored

In [ ]:
Can_df.drop(["DEV"],
          axis = 1, #para realizar el cambio en las columnas
          inplace = True #para realizar el cambio en el dataframe
          )
Can_df.head()

,country,Continente,Region,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,1

In [ ]:
new_names = {"OdName":"country",
             "AreaName":"Continente",
             "RegName":"Region"
             }
type(new_names)

dict

In [ ]:
Can_df.rename(columns = new_names,
          inplace = True)

Can_df

,country,Continente,Region,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603
2,Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Yemen,Asia,Western Asia,Developing regions,1,2,1,6,0,18,...,124,161,140,122,133,128,211,160,174,217
193,Zambia,Africa,Eastern Africa,Developing regions,11,17,11,7,16,9,...,56,91,77,71,64,60,102,69,46,59
194,Zimbabwe,Africa,Eastern Africa,Developing regions,72,114,102,44,32,29,...,1450,615,454,663,611,508,494,434,437,407
195,Unknown,World,World,World,44000,18078,16904,13635,14855,14368,...,3739,4785,4583,4348,4197,3402,3731,2554,1681,1484
196,Total,World,World,World,143137,128641,121175,89185,88272,84346,...,235822,262242,251640,236753,247244,252170,280687,248748,257903,259021

In [ ]:
Can_df["total"] = Can_df.iloc[:, 4:].sum(axis=1)

In [ ]:
#aqui quitamos el index, de default, a "country"
Can_df.set_index("country", inplace = True)
Can_df.head()

,Continente,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,total
country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699
Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439
American Samoa,Oceania,Polynesia,Developing regions,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,6
Andorra,Europe,Southern Europe,Developed regions,0,0,0,0,0,0,2,...,0,1,1,0,0,0,0,1,1,15

In [ ]:
Can_df.loc[["India", "China"], :] #aqui puede ser 1 o mas países

,Continente,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,total
country,,,,,,,,,,,,,,,,,,,,,
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,...,36210,33848,28742,28261,29456,34235,27509,30933,33087,691904
China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,1960,...,42584,33518,27642,30037,29622,30391,28502,33024,34129,659962

In [ ]:
Can_df.loc[["India", "China"], "total"]

country
India    691904
China    659962
Name: total, dtype: int64

In [ ]:
df.reset_index(inplace = True) #cambiar el index de nuevo, al default

# Activity 2: Variable types

Question 1 
Regarding a variable, which of the following statements is false?
The values must be mutually exclusive
Attributes must be exhaustive
Can have at least two different values
Keeps the same value between observation units  **<-- CORRECTO**
 

In python, the type of 4 is:
double
str **<-- CORRECTO**
int
float
 
Type of  True  is: 
bin
int
float
bool **<-- CORRECTO**
 
Question 4
If a = np.array([0,1,2,3,4,5,6,7,8,9,10]) 
Type of   a is ? 
numpy.ndarray     **<-- CORRECTO**
np.array
numpy.array   
np.ndarray         
 
Question 5
If  df.columns is: 
Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')
How can I select only columns:
'CWDistance', 'Complete', 'CompleteGroup', 'Score'
Group of answer choices

df.iloc[:, -4:]          **<-- CORRECTO**
df.iloc[:, [-4:]]
df.loc[:, -4:]
df.iloc[:, 8:]           **<-- CORRECTO**

## SECOND ATTEMPT
Question 2
What is the type of the following: int(3.99)
  str 
  True 
  float 
  int       **<-- CORRECTO**

Question 3
Type of  bool('yes')  is:
  float 
  bool     **<-- CORRECTO**
  int 
  bin 
 
Question 4
If
datafile = "datasets/Cartwheeldata.csv"
a = pd.read_csv(datafile)

Then, type of a is ? 
  numpy.core.frame.DataFrame 
  pandas.core.frame.Table 
  numpy.core.frame.Table 
  pandas.core.frame.DataFrame   **<-- CORRECTO**

# 2023-01-24 Class 3:

## diccionarios

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
x = {"Company" : ["Ford", "Ford", "VW", "BMW", "Cooper", "Copper"],
     "Stars"   : [1, 2, np.nan, 2, 1, 1],
     "Weights" : [2, 4, 2, 2, 3, None],
     "Origin" : ["China", "Mexico", "Mexico", None, "China", np.nan],
     "Length" : [40, 50, 30, np.nan, 45, pd.NaT]
    }

In [ ]:
x["Company"]

['Ford', 'Ford', 'VW', 'BMW', 'Cooper', 'Copper']

In [ ]:
df = pd.DataFrame(data = x)
df

  Company  Stars  Weights  Origin Length
0    Ford    1.0      2.0   China     40
1    Ford    2.0      4.0  Mexico     50
2      VW    NaN      2.0  Mexico     30
3     BMW    2.0      2.0    None    NaN
4  Cooper    1.0      3.0   China     45
5  Copper    1.0      NaN     NaN    NaT

In [ ]:
df.isnull().any()

Company    False
Stars       True
Weights     True
Origin      True
Length      True
dtype: bool

##dropna

In [ ]:
#opcion 1, drop rows with na
ndf = df.dropna()
ndf

  Company  Stars  Weights  Origin Length
0    Ford    1.0      2.0   China     40
1    Ford    2.0      4.0  Mexico     50
4  Cooper    1.0      3.0   China     45

In [ ]:
#opcion 2: drop cols with at least 1 missing **value**
ndf = df.dropna(axis=1)
ndf

  Company
0    Ford
1    Ford
2      VW
3     BMW
4  Cooper
5  Copper

In [ ]:
ndf = df.dropna(how="all",  #eliminamos un renglon si todos los valores son missing (si todo el renglon fuera "None")
                axis=1      # aqui cambiamos a columna, porque por default aplica a renglones
)
ndf

  Company  Stars  Weights  Origin Length
0    Ford    1.0      2.0   China     40
1    Ford    2.0      4.0  Mexico     50
2      VW    NaN      2.0  Mexico     30
3     BMW    2.0      2.0    None    NaN
4  Cooper    1.0      3.0   China     45
5  Copper    1.0      NaN     NaN    NaT

In [ ]:
#threshold: es el numero minimo de valores que necesitamos, para mantener un renglon o columna. En este ejemplo, se elimina el renglon 5 ("Cooper")
ndf = df.dropna(thresh = 3)
ndf

  Company  Stars  Weights  Origin Length
0    Ford    1.0      2.0   China     40
1    Ford    2.0      4.0  Mexico     50
2      VW    NaN      2.0  Mexico     30
3     BMW    2.0      2.0    None    NaN
4  Cooper    1.0      3.0   China     45

In [ ]:
ndf = df.dropna(thresh = 5,
                axis=1)
ndf

  Company  Stars  Weights
0    Ford    1.0      2.0
1    Ford    2.0      4.0
2      VW    NaN      2.0
3     BMW    2.0      2.0
4  Cooper    1.0      3.0
5  Copper    1.0      NaN

In [ ]:
#dejar todos los renglones que tengan al menos un dato perdido
ndf[ndf.isnull().any(axis = 1)]

  Company  Stars  Weights  Origin Length
2      VW    NaN      2.0  Mexico     30
3     BMW    2.0      2.0    None    NaN
5  Copper    1.0      NaN     NaN    NaT

## reemplazar datos

In [ ]:
sm = df.Stars.mean()
sm

1.4

In [ ]:
df["Stars"].fillna(value = sm,
                  inplace = True)

df

  Company  Stars  Weights  Origin Length
0    Ford    1.0      2.0   China     40
1    Ford    2.0      4.0  Mexico     50
2      VW    1.4      2.0  Mexico     30
3     BMW    2.0      2.0    None    NaN
4  Cooper    1.0      3.0   China     45
5  Copper    1.0      NaN     NaN    NaT

In [ ]:
wm = df.Weights.mean()
wm

2.6

In [ ]:
lm = df.Length.mean()
lm

41.25

In [ ]:
df["Weights"].fillna(value = wm,
                  inplace = True)

df

  Company  Stars  Weights  Origin Length
0    Ford    1.0      2.0   China     40
1    Ford    2.0      4.0  Mexico     50
2      VW    1.4      2.0  Mexico     30
3     BMW    2.0      2.0    None    NaN
4  Cooper    1.0      3.0   China     45
5  Copper    1.0      2.6     NaN    NaT

In [ ]:
df["Length"].fillna(value = lm,
                  inplace = True)

df

  Company  Stars  Weights  Origin  Length
0    Ford    1.0      2.0   China   40.00
1    Ford    2.0      4.0  Mexico   50.00
2      VW    1.4      2.0  Mexico   30.00
3     BMW    2.0      2.0    None   41.25
4  Cooper    1.0      3.0   China   45.00
5  Copper    1.0      2.6     NaN   41.25

In [ ]:
ndf = df["Origin"].fillna(value = "China",
                  inplace = True)

ndf

In [ ]:
df

  Company  Stars  Weights  Origin  Length
0    Ford    1.0      2.0   China   40.00
1    Ford    2.0      4.0  Mexico   50.00
2      VW    1.4      2.0  Mexico   30.00
3     BMW    2.0      2.0   China   41.25
4  Cooper    1.0      3.0   China   45.00
5  Copper    1.0      2.6   China   41.25

In [ ]:
#Para hacer TODO en una sola celda

favs = {"Stars" : df.Stars.mean(),
        "Weights" : df.Weights.mode(),
        "Origin" : df.Origin.mode(),
        "Length" : df.Length.mean()
        }

favs

{'Stars': 1.4000000000000001, 'Weights': 0    2.0
 dtype: float64, 'Origin': 0    China
 dtype: object, 'Length': 41.25}

In [ ]:
df.Stars.fillna(favs["Stars"], inplace = True)
df.Weights.fillna(favs["Weights"], inplace = True)
df.Origin.fillna(favs["Origin"], inplace = True)
df.Length.fillna(favs["Length"], inplace = True)

df

  Company  Stars  Weights  Origin  Length
0    Ford    1.0      2.0   China   40.00
1    Ford    2.0      4.0  Mexico   50.00
2      VW    1.4      2.0  Mexico   30.00
3     BMW    2.0      2.0   China   41.25
4  Cooper    1.0      3.0   China   45.00
5  Copper    1.0      2.6   China   41.25

##pivot tables

In [ ]:
# cual es el peso primedio de los carros hechos en mexico?
pd.pivot_table(df, 
               index = "Company",
               aggfunc = ["sum", "mean"],
               columns = "Origin",
               margins = True       #agrega el total, en la ultima fila
               )

            sum                                                          mean  \
         Length                Stars             Weights               Length
Origin    China Mexico     All China Mexico  All   China Mexico   All   China
Company
BMW       41.25    NaN   41.25   2.0    NaN  2.0     2.0    NaN   2.0  41.250
Cooper    45.00    NaN   45.00   1.0    NaN  1.0     3.0    NaN   3.0  45.000
Copper    41.25    NaN   41.25   1.0    NaN  1.0     2.6    NaN   2.6  41.250
Ford      40.00   50.0   90.00   1.0    2.0  3.0     2.0    4.0   6.0  40.000
VW          NaN   30.0   30.00   NaN    1.4  1.4     NaN    2.0   2.0     NaN
All      167.50   80.0  247.50   5.0    3.4  8.4     9.6    6.0  15.6  41.875


                      Stars             Weights
Origin  Mexico    All China Mexico  All   China Mexico  All
Company
BMW        NaN  41.25  2.00    NaN  2.0     2.0    NaN  2.0
Cooper     NaN  45.00  1.00    NaN  1.0     3.0    NaN  3.0
Copper     NaN  41.25  1.00    NaN  1.0     2.6    NaN  2.6
Ford      50.0  45.00  1.00    2.0  1.5     2.0    4.0  3.0
VW        30.0  30.00   NaN    1.4  1.4     NaN    2.0  2.0
All       40.0  41.25  1.25    1.7  1.4     2.4    3.0  2.6

In [ ]:
df.Stars.mean()

1.4000000000000001

what is the avg number of people born in Wisonsin in 2010?

In [ ]:
path = "/content/drive/MyDrive/2023-01-10 mineria/census.csv"

wdf = pd.read_csv(path)
wdf

In [ ]:
#pd.options.display.max_rows = 999
wdf.isnull().any()

SUMLEV                   False
REGION                   False
DIVISION                 False
STATE                    False
COUNTY                   False
STNAME                   False
CTYNAME                  False
CENSUS2010POP            False
ESTIMATESBASE2010        False
POPESTIMATE2010          False
POPESTIMATE2011          False
POPESTIMATE2012          False
POPESTIMATE2013          False
POPESTIMATE2014          False
POPESTIMATE2015          False
NPOPCHG_2010             False
NPOPCHG_2011             False
NPOPCHG_2012             False
NPOPCHG_2013             False
NPOPCHG_2014             False
NPOPCHG_2015             False
BIRTHS2010               False
BIRTHS2011               False
BIRTHS2012               False
BIRTHS2013               False
BIRTHS2014               False
BIRTHS2015               False
DEATHS2010               False
DEATHS2011               False
DEATHS2012               False
DEATHS2013               False
DEATHS2014               False
DEATHS2015               False
NATURALINC2010           False
NATURALINC2011           False
NATURALINC2012           False
NATURALINC2013           False
NATURALINC2014           False
NATURALINC2015           False
INTERNATIONALMIG2010     False
INTERNATIONALMIG2011     False
INTERNATIONALMIG2012     False
INTERNATIONALMIG2013     False
INTERNATIONALMIG2014     False
INTERNATIONALMIG2015     False
DOMESTICMIG2010          False
DOMESTICMIG2011          False
DOMESTICMIG2012          False
DOMESTICMIG2013          False
DOMESTICMIG2014          False
DOMESTICMIG2015          False
NETMIG2010               False
NETMIG2011               False
NETMIG2012               False
NETMIG2013               False
NETMIG2014               False
NETMIG2015               False
RESIDUAL2010             False
RESIDUAL2011             False
RESIDUAL2012             False
RESIDUAL2013             False
RESIDUAL2014             False
RESIDUAL2015             False
GQESTIMATESBASE2010      False
GQESTIMATES2010          False
GQESTIMATES2011          False
GQESTIMATES2012          False
GQESTIMATES2013          False
GQESTIMATES2014          False
GQESTIMATES2015          False
RBIRTH2011               False
RBIRTH2012               False
RBIRTH2013               False
RBIRTH2014               False
RBIRTH2015               False
RDEATH2011               False
RDEATH2012               False
RDEATH2013               False
RDEATH2014               False
RDEATH2015               False
RNATURALINC2011          False
RNATURALINC2012          False
RNATURALINC2013          False
RNATURALINC2014          False
RNATURALINC2015          False
RINTERNATIONALMIG2011    False
RINTERNATIONALMIG2012    False
RINTERNATIONALMIG2013    False
RINTERNATIONALMIG2014    False
RINTERNATIONALMIG2015    False
RDOMESTICMIG2011         False
RDOMESTICMIG2012         False
RDOMESTICMIG2013         False
RDOMESTICMIG2014         False
RDOMESTICMIG2015         False
RNETMIG2011              False
RNETMIG2012              False
RNETMIG2013              False
RNETMIG2014              False
RNETMIG2015              False
dtype: bool

In [ ]:
x = wdf.pivot_table(wdf,
                    index = ["STNAME", "CTYNAME"],
                    aggfunc = "sum"
                    )   
x

                         BIRTHS2010  BIRTHS2011  BIRTHS2012  BIRTHS2013  \
STNAME  CTYNAME
Alabama Alabama               14226       59689       59062       57938
        Autauga County          151         636         615         574
        Baldwin County          517        2187        2092        2160
        Barbour County           70         335         300         283
        Bibb County              44         266         245         259
...                             ...         ...         ...         ...
Wyoming Teton County             76         259         230         261
        Uinta County             73         324         311         316
        Washakie County          26         108          90          95
        Weston County            26          81          74          93
        Wyoming                1995        7471        7434        7509

                         BIRTHS2014  BIRTHS2015  CENSUS2010POP  COUNTY  \
STNAME  CTYNAME
Alabama Alabama               58334       58305        4779736       0
        Autauga County          623         600          54571       1
        Baldwin County         2186        2240         182265       3
        Barbour County          260         269          27457       5
        Bibb County             247         253          22915       7
...                             ...         ...            ...     ...
Wyoming Teton County            249         269          21294      39
        Uinta County            316         316          21118      41
        Washakie County          96          90           8533      43
        Weston County            77          79           7208      45
        Wyoming                7758        7695         563626       0

                         DEATHS2010  DEATHS2011  ...  RNATURALINC2013  \
STNAME  CTYNAME                                  ...
Alabama Alabama               11089       48811  ...         1.470981
        Autauga County          152         507  ...        -0.163320
        Baldwin County          532        1825  ...         1.338445
        Barbour County          128         319  ...        -0.406414
        Bibb County              34         278  ...        -0.974443
...                             ...         ...  ...              ...
Wyoming Teton County             10          87  ...         7.447098
        Uinta County             49         139  ...         8.569184
        Washakie County          34          79  ...         2.131944
        Weston County             9          71  ...         2.249561
        Wyoming                1293        4447  ...         4.988748

                         RNATURALINC2014  RNATURALINC2015  RNETMIG2011  \
STNAME  CTYNAME
Alabama Alabama                 1.675322         1.643417     1.030015
        Autauga County          2.157204         2.404259     7.606016
        Baldwin County          0.719281         1.229482    15.844176
        Barbour County         -1.859151        -1.500825    -4.874741
        Bibb County             1.597834         1.329434    -5.088389
...                                  ...              ...          ...
Wyoming Teton County            7.999646         8.385835     0.654527
        Uinta County            8.872987         8.579988   -18.136812
        Washakie County         3.102810         1.321798   -11.990126
        Weston County           0.975950         0.277412   -12.032179
        Wyoming                 5.739078         5.278488     0.289680

                         RNETMIG2012  RNETMIG2013  RNETMIG2014  RNETMIG2015  \
STNAME  CTYNAME
Alabama Alabama             0.826644     1.383282     1.724718     0.712594
        Autauga County     -2.626146    -2.722002     2.592270    -2.187333
        Baldwin County     18.559627    22.727626    20.317142    18.293499
        Barbour County     -2.758113    -7.167664    -3.978583   -10.543299
        Bibb County        -4.363636    -5.403729     0.754533     1.107861
...                              ...          ...          ...          ...
Wyoming Teton County        2.408578    21.160658    16.308671     1.520747
        Uinta County       -5.536861    -7.521840   -14.740608   -12.606351
        Washakie County    -1.182592    -2.250385   -18.020168     1.441961
        Weston County      -8.040059    12.372583     1.533635     6.935294
        Wyoming            10.694870     5.440390    -3.727831    -2.091573

                         STATE  SUMLEV
STNAME  CTYNAME
Alabama Alabama              1      40
        Autauga County       1      50
        Baldwin County       1      50
        Barbour County       1      50
        Bibb County          1      50
...                        ...     ...
Wyoming Teton County        56      50
        Uinta County        56      50
        Washakie County     56      50
        Weston County       56      50
        Wyoming             56      40

[3192 rows x 98 columns]

In [ ]:
x.loc["Wisconsin": , "BIRTHS2010"]

STNAME
Wisconsin    35116
Wyoming       3990
Name: BIRTHS2010, dtype: int64

In [ ]:
x_prom = wdf.pivot_table(wdf,
                    index = "STNAME",
                    aggfunc = "mean"
                    )   
x_prom.loc["Wisconsin": , "BIRTHS2010"]

STNAME
Wisconsin    481.041096
Wyoming      166.250000
Name: BIRTHS2010, dtype: float64

## funcion lambda method

In [ ]:
x = lambda a : a+2
x(5+2)

9

In [ ]:
#es lo mismo que:
def sum_dos(x):
  return x+2

sum_dos(10)

12

In [ ]:
x = lambda a, b, c : a+b+c
x(2, 3, 4)

9